<!DOCTYPE html>
<html>
<head>
    <title>BIG WORLD</title>

</head>



<body style=background-color:#f5f4f4>
            <button style="padding: 0; border: none;"><img src="https://www.dropbox.com/scl/fi/16udisy4owsyepwci7hqa/2.png?rlkey=n3u8mawqcj308zhw1k8s6g2o1&dl=1" alt="Кнопка «button»" width="80" height="20"   style="background-color: #f3f3f3; outline: none"></button>

    <div class="button" style="margin:0px auto; color:#01d933; text-align:center;  button:center;">

        <button style="padding: 0; border: none;" onclick="window.location.href='https://bigworld-mc.ru';"><img src="https://www.dropbox.com/scl/fi/mzjoyqq8iy084ya1cjga0/1.png?rlkey=xyp3b6gmuf9lhm7t1czzvkmca&dl=1" alt="Кнопка «button»" width="140" height="60"   style="background-color: #f3f3f3; outline: none"></button>
        <button style="background-color: aliceblue; border-bottom: none; padding: 0; border: none;"><img src="https://www.dropbox.com/scl/fi/16udisy4owsyepwci7hqa/2.png?rlkey=n3u8mawqcj308zhw1k8s6g2o1&dl=1" alt="Кнопка «button»" width="20" height="60"   style="background-color: #f3f3f3; outline: none"></button>

        <button style="padding: 0; border: none;" onclick="window.location.href='https://bigworld-mc.ru';"><img src="https://www.dropbox.com/scl/fi/jr1isk7z4fm6vccsk1z2e/3.png?rlkey=khzf0wi421xqjvewlaabmuhy2&dl=1" alt="Кнопка «button»" width="140" height="60"   style="background-color: #f3f3f3; outline: none"></button>

        <button style="background-color: aliceblue; border-bottom: none; padding: 0; border: none;"><img src="https://www.dropbox.com/scl/fi/16udisy4owsyepwci7hqa/2.png?rlkey=n3u8mawqcj308zhw1k8s6g2o1&dl=1" alt="Кнопка «button»" width="20" height="60"   style="background-color: #f3f3f3; outline: none"></button>

        <button style="padding: 0; border: none;" onclick="window.location.href='https://bigworld-mc.ru/donate/';"><img src="https://www.dropbox.com/scl/fi/h00nm3xq6dmcb42bqs29w/4.png?rlkey=smgytj7rh2eeej2eqq5kazfzx&dl=1" alt="Кнопка «button»" width="140" height="60"   style="background-color: #f3f3f3; outline: none"></button>

        <button style="background-color: aliceblue; border-bottom: none; padding: 0; border: none;"><img src="https://www.dropbox.com/scl/fi/16udisy4owsyepwci7hqa/2.png?rlkey=n3u8mawqcj308zhw1k8s6g2o1&dl=1" alt="Кнопка «button»" width="20" height="60"   style="background-color: #f3f3f3; outline: none"></button>

        <button style="padding: 0; border: none;" onclick="window.location.href='https://bigworld-mc.ru/news/';"><img src="https://www.dropbox.com/scl/fi/z44h7vh5a74twb5w6l7y6/5.png?rlkey=0nv0gi6sw4tdjg50ehw91betu&dl=1" alt="Кнопка «button»" width="140" height="60"   style="background-color: #f3f3f3; outline: none"></button>

        <button style="background-color: aliceblue; border-bottom: none; padding: 0; border: none;"><img src="https://www.dropbox.com/scl/fi/16udisy4owsyepwci7hqa/2.png?rlkey=n3u8mawqcj308zhw1k8s6g2o1&dl=1" alt="Кнопка «button»" width="20" height="60"   style="background-color: #f3f3f3; outline: none"></button>

        <button style="padding: 0; border: none;" onclick="window.location.href='https://bigworld-mc.ru/pravila/';"><img src="https://www.dropbox.com/scl/fi/ugiwp7r9662zcqjk195lr/6.png?rlkey=u89w2eqjie3cwri6d0y2fyc74&dl=1" alt="Кнопка «button»" width="140" height="60"   style="background-color: #f3f3f3; outline: none"></button>

        <button style="background-color: aliceblue; border-bottom: none; padding: 0; border: none;"><img src="https://www.dropbox.com/scl/fi/16udisy4owsyepwci7hqa/2.png?rlkey=n3u8mawqcj308zhw1k8s6g2o1&dl=1" alt="Кнопка «button»" width="1040" height="60"   style="background-color: #f3f3f3; outline: none"></button>
    </div>

            <button style="padding: 0; border: none;"><img src="https://www.dropbox.com/scl/fi/16udisy4owsyepwci7hqa/2.png?rlkey=n3u8mawqcj308zhw1k8s6g2o1&dl=1" alt="Кнопка «button»" width="80" height="20"   style="background-color: #f3f3f3; outline: none"></button>

    <div class="picture_div" style="margin:0px auto; color:#01d933; text-align:center;  button:center;">

    <img src="https://www.dropbox.com/scl/fi/pzgff6ts9i2cktqte7raf/bw-new-pa.png?rlkey=wk3rihh5jxhq0g2p7c8nikxha&dl=1" width="2000" height="1059" />
    </div>

    <header>
        <h1></h1>
    </header>
    <p style=color:#00c11a>

    </p>




</body>
</html>